POSTGRES_DB=liga_futbol_mvp
POSTGRES_USER=liga_user
POSTGRES_PASSWORD=liga_password
POSTGRES_PORT=5432

BACKEND_PORT=4000
APP_PORT=5173

JWT_SECRET=change_this_secret
JWT_EXPIRES_MINUTES=120
REFRESH_TOKEN_EXPIRES_DAYS=7

SUPER_USER_EMAIL=superadmin@ligafutbol.com
SUPER_USER_USERNAME=superadmin
SUPER_USER_PASSWORD=ChangeMe123
